In [1]:
# Importing data
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\katro\World Happiness Report'

In [3]:
df_2015 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2015.csv'))
df_2016 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2016.csv'))
df_2017 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2017.csv'))
df_2018 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2018.csv'))
df_2019 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2019.csv'))

In [4]:
df_2015.head()

,Year,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,2015,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,2015,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,2015,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,2015,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,2015,Canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [5]:
# Concatenating data

frames = [df_2015, df_2016, df_2017, df_2018, df_2019]
df_merge = pd.concat(frames)

In [6]:
df_merge.shape

(782, 12)

In [7]:
df_merge.head()

,Year,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,2015,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,2015,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,2015,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,2015,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,2015,Canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [12]:
# Checking for mixed value types

for col in df_merge.columns.tolist():
    weird = (df_merge[[col]].applymap(type) != df_merge[[col]].iloc[0].apply(type)).any(axis=1)
    if len(df_merge[weird])>0:
        print(col)

Region

C:\Users\katro\AppData\Local\Temp\ipykernel_19204\3995218763.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_merge[[col]].applymap(type) != df_merge[[col]].iloc[0].apply(type)).any(axis=1)
C:\Users\katro\AppData\Local\Temp\ipykernel_19204\3995218763.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_merge[[col]].applymap(type) != df_merge[[col]].iloc[0].apply(type)).any(axis=1)
C:\Users\katro\AppData\Local\Temp\ipykernel_19204\3995218763.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_merge[[col]].applymap(type) != df_merge[[col]].iloc[0].apply(type)).any(axis=1)
C:\Users\katro\AppData\Local\Temp\ipykernel_19204\3995218763.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_merge[[col]].applymap(type) != df_merge[[col]].iloc[0].apply(type)).any(axis=1)
C:\Users\katro\AppData\Local\Temp\ipykernel_19204\3995218763.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_merge[[col]].applymap(type) != df_merge[[col]].iloc[0].apply(type)).any(axis=1)
C:\Users\katro\AppData\Local\Temp\ipykernel_19204\3995218763.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_merge[[col]].applymap(type) != df_merge[[col]].iloc[0].apply(type)).any(axis=1)
C:\Users\katro\AppData\Local\Temp\ipykernel_19204\3995218763.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_merge[[col]].applymap(type) != df_merge[[col]].iloc[0].apply(type)).any(axis=1)
C:\Users\katro\AppData\Local\Temp\ipykernel_19204\3995218763.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_merge[[col]].applymap(type) != df_merge[[col]].iloc[0].apply(type)).any(axis=1)
C:\Users\katro\AppData\Local\Temp\ipykernel_19204\3995218763.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_merge[[col]].applymap(type) != df_merge[[col]].iloc[0].apply(type)).any(axis=1)
C:\Users\katro\AppData\Local\Temp\ipykernel_19204\3995218763.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_merge[[col]].applymap(type) != df_merge[[col]].iloc[0].apply(type)).any(axis=1)
C:\Users\katro\AppData\Local\Temp\ipykernel_19204\3995218763.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_merge[[col]].applymap(type) != df_merge[[col]].iloc[0].apply(type)).any(axis=1)
C:\Users\katro\AppData\Local\Temp\ipykernel_19204\3995218763.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_merge[[col]].applymap(type) != df_merge[[col]].iloc[0].apply(type)).any(axis=1)

In [14]:
# Converting region to string

df_merge['Region'] = df_merge['Region'].astype('str')

In [15]:
# Finding missing values

df_merge.isnull().sum()

Year                               0
Country                            0
Region                             0
Happiness Rank                     0
Happiness Score                    0
Economy (GDP per Capita)           0
Family                             0
Health (Life Expectancy)           0
Freedom                            0
Trust (Government Corruption)      1
Generosity                         0
Dystopia Residual                312
dtype: int64

In [18]:
# Dropping Dystopian Residual column due to too many missing values

df_merged = df_merge.drop(columns = ['Dystopia Residual'])

In [20]:
# Creating a subset of the missing value in Trust (Government Corruption)

df_nan = df_merged[df_merged['Trust (Government Corruption)'].isnull() == True]

In [21]:
df_nan

,Year,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
19,2018,United Arab Emirates,nan,20,6.774,2.096,0.776,0.67,0.284,NaN,0.186

In [24]:
# Finding the mean of Trust (Government Corruption)

df_merged.groupby('Year')['Trust (Government Corruption)'].mean()

Year
2015    0.143422
2016    0.137624
2017    0.123120
2018    0.112000
2019    0.110603
Name: Trust (Government Corruption), dtype: float64

In [25]:
# Replaced the missing value in Trust (Government Corruption) with the mean of the year 2018

df_merged['Trust (Government Corruption)'].fillna(0.112, inplace = True)

In [28]:
df_merged.isnull().sum()

Year                             0
Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
dtype: int64

In [30]:
# Finding duplicates

df_dups = df_merged[df_merged.duplicated()]

In [31]:
df_dups

Empty DataFrame
Columns: [Year, Country, Region, Happiness Rank, Happiness Score, Economy (GDP per Capita), Family, Health (Life Expectancy), Freedom, Trust (Government Corruption), Generosity]
Index: []

In [32]:
# Exporting data

df_merged.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'whr.csv'))